.topnav {
    overflow: hidden;
    background-color: rgb(212, 106, 106);
}
  
.topnav a {
    float: left;
    color: #701919;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}
  
.topnav a:hover {
    background-color: rgb(253, 212, 136);
    color: #701919;
}
  
.topnav a.active {
    background-color: #791919;
    color: white;
}